<div class="ver-productos-container">
  <div class="productos-header">Productos</div>
  <div class="productos-lista">
    <div class="producto-item"></div>
    <div class="producto-item"></div>
    <div class="producto-item"></div>
    <div class="producto-item"></div>
    <div class="producto-item"></div>
  </div>
  <div class="acciones">
    <a routerLink="/dashboard/productos/agregar" class="btn-link">Agregar Producto</a>
    <a routerLink="/dashboard/productos" class="btn-link btn-menu">Volver al Menú</a>
    <a routerLink="/dashboard/productos/eliminar" class="btn-link">Eliminar Producto</a>
  </div>
</div>
