<div class="proveedores-container">
  <div class="proveedores-header">Eliminar Proveedores</div>
  <div class="proveedores-form">
    <input type="text" placeholder="Nombre Proveedor" />
    <input type="text" placeholder="Id Proveedor" />
    <button class="eliminar-btn">Eliminar Proveedores</button>
  </div>
  <div class="acciones">
    <a routerLink="/dashboard/proveedores/info" class="btn-link">Información de proveedores</a>
    <a routerLink="/dashboard/proveedores" class="btn-link btn-menu">Volver al Menú</a>
    <a routerLink="/dashboard/proveedores/agregar" class="btn-link">Agregar Proveedores</a>
  </div>
</div>
