<div class="proveedores-container">
  <div class="proveedores-header">Proveedores</div>
  <div class="proveedores-form">
    <input type="text" placeholder="Nombre Proveedor" />
    <div class="row">
      <input type="text" placeholder="Id Proveedor" />
      <input type="text" placeholder="Contacto" />
    </div>
    <input type="text" placeholder="Direccion" />
    <button class="buscar-btn">Buscar</button>
  </div>
  <div class="acciones-menu">
    <a routerLink="/dashboard/proveedores/agregar" class="btn-link">Agregar Proveedores</a>
    <a routerLink="/dashboard/proveedores" class="btn-link btn-menu">Volver al Menú</a>
    <a routerLink="/dashboard/proveedores/eliminar" class="btn-link">Eliminar Proveedores</a>
  </div>
</div>
