<div class="agregar-producto-container">
  <form class="agregar-producto-form">
    <input type="text" placeholder="Nombre Producto" />
    <div class="row">
      <input type="text" placeholder="Codigo producto" />
      <input type="text" placeholder="Categoria" />
    </div>
    <input type="text" placeholder="Proveedor" />
    <div class="row">
      <input type="text" placeholder="Precio compra" />
      <input type="text" placeholder="Precio venta" />
    </div>
    <button class="agregar-btn" type="submit">Agregar Producto</button>
  </form>
  <div class="acciones">
    <a routerLink="/dashboard/productos/eliminar" class="btn-link">Eliminar Producto</a>
    <a routerLink="/dashboard/productos" class="btn-link btn-menu">Volver al Menú</a>
    <a routerLink="/dashboard/productos/ver" class="btn-link">Ver Productos</a>
  </div>
</div>
