<div class="proveedores-container">
  <div class="proveedores-header">Agregar Proveedores</div>
  <div class="proveedores-form">
    <input type="text" placeholder="Nombre Proveedor" />
    <div class="row">
      <input type="text" placeholder="Id Proveedor" />
      <input type="text" placeholder="Contacto" />
    </div>
    <input type="text" placeholder="Direccion" />
    <input type="text" placeholder="Productos" />
    <button class="agregar-btn">Agregar Proveedores</button>
  </div>
  <div class="acciones">
    <a routerLink="/dashboard/proveedores/info" class="btn-link">Información de proveedores</a>
    <a routerLink="/dashboard/proveedores" class="btn-link btn-menu">Volver al Menú</a>
    <a routerLink="/dashboard/proveedores/eliminar" class="btn-link">Eliminar Proveedores</a>
  </div>
</div>
